.changecolordk:hover{
    color:red;
    margin-left: 50px;
    
   }
   .changecolordk{
       
       margin-left: 30px;
       
   } 
   .middledig{
       margin-left: 50px;
   }
   .distanceleft{
       margin-left: 40px;
       margin-top: 40px;
   }